.page-wrap {
    width: 800px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    padding: 20px;
    border-radius: 15px;
    /* background-color: rgb(81, 132, 177); */
}

.content-wrap {
    background-color: azure;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* padding: 10px; */
    padding-bottom: 5px;
}