<div class="page-wrap">
    <app-nav-bar></app-nav-bar>
    <div class="content-wrap">
        <br />
        <router-outlet></router-outlet>
    </div>
</div>
<!-- <app-stock-list></app-stock-list> -->
<!-- <app-create-stock></app-create-stock> -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- <app-create-stock></app-create-stock> -->
<!-- <app-stock-item [stock]="stockObj" (toggleFavorite)="onToggleFavorite($event)"></app-stock-item> -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->