<!-- <h2>Create Stock Form</h2>
<div class="form-group">
    <form>
        <div class="stock-name">
            <input type="text" placeholder="Stock Name" [value]="stock.name" (input)="stock.name = $event.target.value" />
        </div>
    </form>
    <button (click)="stock.name = 'test'">Reset stock name</button>
    <h4>Stock Name {{ stock.name }}</h4>
</div>
<br />
<br />
<br />
<div class="add">
    <form #StockData="ngForm" (ngSubmit)="OnAdd(StockData.value)" class="decor">
        <div class="inner">
            <h2>Add a New Stock</h2>
            <input type="text" placeholder="Name of Stock" name="name" ngModel />
            <br />
            <!-- <input type="text" placeholder="Username" /> -->
<input type="text" placeholder="Stock Code" name="code" ngModel />
<br />
<!-- <input type="email" placeholder="Email" /> -->
<input type="number" placeholder="Stock Price " name="price" ngModel />
<br />
<!-- <textarea placeholder="Message..." rows="5"></textarea> -->
<button type="submit" href="/">Submit</button>
</div>
</form>
</div> -->

<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- <div class="conatiner-flex">
    <div class="col-lg-12">
        <div class="jumbotron bg-dark text-white">
            <h1 class="display-3"></h1>
            <hr class="my-4" />
            <p class="lead mb-0"><strong> Watched on :</strong> <br /></p>
            <p class="lead mb-0"><strong> Movie Type :</strong> <br /></p>
            <p class="lead mb-0"><strong>Movie Category :</strong> <br /></p>
            <p class="lead mb-0"><strong> Released Year :</strong> <br /></p>
            <p><strong> Movie Review :</strong><br /></p>
            <div class="row">
                <div class="col-lg-2 col-md-6">
                    <a miFavorite href="#" style="font-size: large"><i style="font-size: xx-large" class="fas fa-heart heart"></i
          ></a>
                </div>
                <div class="col-lg-4 mb-2 col-md-6">
                    <a class="btn btn-danger"> Delete</a>
                </div>
            </div>
        </div>
        <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- <div [ngSwitch]="code">
    <div *ngSwitchCase="'TCS'">Tata Consultancy Services</div>
    <div *ngSwitchCase="'INFO'">Infosys</div>
    <div *ngSwitchCase="'IBM'">Internation Business Machines</div>
</div> -->
<!-- varibale is name location in the memmory 
and memory is bundddel of resisters-->
<!-- </div>
</div> -->