<div class="container">
    <h4 style="font-weight: bold">Stock Market App</h4>
    <hr />
    <img width="400px" src="https://media.istockphoto.com/photos/digitally-enhanced-shot-of-a-graph-showing-the-ups-and-downs-shares-picture-id1322201350?b=1&k=20&m=1322201350&s=170667a&w=0&h=Cp62gZiaccwtTOwzFsdUnvyDq8JC91WMloyqfjtTx-U=" alt="stock Image"
    />
    <br />
    <br />
    <div class="text-primary">About Stock Market:</div>
    <p>
        A stock market, equity market, or share market is the aggregation of buyers and sellers of stocks (also called shares), which represent ownership claims on businesses; these may include securities listed on a public stock exchange, as well as stock that
        is only traded privately, such as shares of private companies which are sold to investors through equity crowdfunding platforms. Investment is usually made with an investment strategy in mind.
    </p>
</div>